:root {
  --main-color: #1f4280;
  --light-color: #f5f7fa;
  --grey-color: #4d4d4d;
  --muted-grey-color: #717171;
  --blue-color: #4361ee;
}
body {
  font-family: "Montserrat", sans-serif;
}

.text-color {
  color: #343434;
}
.blue-color {
  color: #4361ee;
}
body.rtl {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

/* Circle Shape In The Background */
body::before {
  content: "";
  position: absolute;
  top: -89px;
  left: -130px;
  width: 629px;
  height: 629px;
  border-radius: 629px;
  background: var(--light-color);
  z-index: -1;
}
a:hover {
  color: inherit;
}
/* Main Button */
.btn-main {
  border-radius: 8px;
  background: var(--main-color);
  color: white;
  padding: 0.7em 1.3em;
  border: none;
}

.second-btn {
  background: #fff;
  border-radius: 8px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 0.7em 1.3em;
}

.light-bg {
  background-color: var(--light-color);
}

.fit-content {
  width: fit-content;
}
.main-color {
  color: var(--main-color);
}
/* Accordion FaQs */
.accordion-head h2 {
  color: var(--grey-color);
}
.accordion-head p {
  color: var(--muted-grey-color);
}
.accordion-item:has(.show) {
  border: 2px solid var(--main-color);
  box-shadow: 0px 6px 16px 0px rgba(31, 66, 128, 0.16);
  border-radius: 14px !important;
}
.accordion-item {
  border: none;
  margin-bottom: 1em;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
.accordion-button.collapsed {
  border-radius: 18px !important;
  background: white;
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
  padding-block: 3em;
}

.accordion-button:not(.collapsed)::after {
  z-index: 0;
  border-color: transparent transparent transparent white;
  color: white;
}

/* login and signup */
.nav-tabs {
  border-bottom: none !important;
}

.login-txt {
  color: #6f6c90;
}

.login-title {
  color: #170f49;
}

.otp-input {
  width: 50px;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* pb */

.signup-progress-container {
  text-align: center;
  margin-bottom: 20px;
}

.signup-progress-container .progress {
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.signup-progress-container .progress-bar {
  border-radius: 10px;
}

.signup-progress-container .step-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.signup-progress-container .step {
  position: relative;
  font-size: 0.9em;
}

.signup-progress-container .step-labels span:first-child::after,
.signup-progress-container .step-labels span:last-child::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(-37px / 2 - 10px);
  width: 25px;
  height: 25px;
  background-color: #e0e0e0;
  border-radius: 50%;
}
.signup-progress-container .step-labels span:first-child::after {
  border: 6px solid #1f4280;
}

.signup-progress-container .step-labels span:last-child::after {
  left: auto;
  right: 0;
}

.signup-progress-container .active-step::after {
  background-color: var(--main-color, #1f4280);
}

/* Start Navbar */
nav a.nav-link {
  color: #18191f;
}

nav .nav-link:hover,
nav .nav-link.active {
  color: var(--main-color) !important;
}
/* Mobile toggler */
.navbar-toggler:focus {
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--main-color);
}

.lang-btn {
  border: none;
  background-color: white;
  color: var(--main-color);
  border-radius: 50%;
  height: 40px;
  padding: 1em;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-inline-start: 1em;
  border: 1px solid var(--main-color);
}
/* End Navbar */

/* Sections */
.sec-title {
  color: var(--grey-color);
}

.sec-description {
  color: var(--muted-grey-color);
  line-height: 24px;
}

/* Property Card */

#sec-3 .property-card,
.similars .property-card {
  margin-bottom: 8rem;
}
.prop-details,
.property-num {
  color: var(--main-color);
}
.prop-details {
  background: linear-gradient(
      0deg,
      rgba(31, 66, 128, 0.08) 0%,
      rgba(31, 66, 128, 0.08) 100%
    ),
    #fff;
}
.property-card a {
  color: var(--main-color);
}
.property-card .img-container {
  width: 400px;  
  height: 300px; 
  overflow: hidden; 
}
.property-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sec-3 span {
  border-color: var(--main-color) !important;
}

.carousel-inner img {
  width: 100%;
  max-height: 400px;
  object-fit: cover; 
  border-radius: 10px;
}

/* like icon */

.like-icon {
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
}

#liked{
  color: red; /* Solid heart in red color */
}

#regular {
  color: white; /* Regular heart in white color */
}

/* 
phone input */
.iti--allow-dropdown{
  width: 100%;
}
body[dir="rtl"] input#phone{
text-align: right;
padding-right: 3em;
}
body[dir="rtl"] .iti__flag-container{
  right: 0 !important;
  left: auto !important;
}


/* Section 5 Home */

#sec-5 .stat-item svg {
  color: var(--main-color);
  font-size: 2em;
}
#sec-5 .stat-item p:first-child {
  color: var(--grey-color);
}
#sec-5 .stat-item p:last-child {
  color: var(--muted-grey-color);
}

/* Explore page and property details */
.breadcrumb {
  border: 1px solid rgba(31, 66, 128, 0.24);
}
.breadcrumb .current {
  color: var(--main-color);
}
.prop-row {
  margin-bottom: 8rem;
}
.form-section {
  border-radius: 8px;
  background: var(--White, #fff);
  box-shadow: 4px 4px 24px 0px rgba(171, 190, 209, 0.24);
}

.card {
  border: none;
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.06);
}
.card svg {
  color: var(--blue-color);
}
.card h5 {
  color: var(--blue-color);
}
.card span {
  color: #808080;
}
.status {
  background-color: var(--light-color);
  padding: 3em;
  border-radius: 12px;
}

.status .item {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  background-color: white;
}
.status .item h5 {
  color: var(--blue-color);
}
.status span {
  color: #808080;
}

.status .row > [class^="col-"]:nth-child(4n) .item {
  border-right: none;
}

.status .row > [class^="col-"]:nth-last-child(-n + 4) .item {
  border-bottom: none;
  border-radius: 8px 0px 0px 8px;
}
.no-gutters > [class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* User */
#dropdownMenuButton,
.dropdown-menu {
  background: none;
  color: var(--main-color);
  border-radius: 8px;
  border: 1px solid var(--main-color);
  box-shadow: 0px 6px 16px 0px rgba(31, 66, 128, 0.16);
}
.dropdown-menu .dropdown-item {
  color: var(--main-color);
}
/* user data */
.user-data {
  margin-top: 15em;
}
.user-data .sidebar {
  border-radius: 8px 0px 0px 8px;
  box-shadow: 4px 4px 24px 0px rgba(171, 190, 209, 0.24);
}

.user-data .nav a {
  color: var(--main-color);
}
.user-data h3:first-child {
  color: var(--main-color);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--main-color);
}
.user-data .content {
  border-radius: 0px 8px 8px 0px;
  box-shadow: 4px 4px 24px 0px rgba(171, 190, 209, 0.24);
}
.user-data-footer {
  background: var(--light-color);
}
.user-data .investment-content table th {
  background-color: var(--blue-color);
  padding: 0.5em;
  color: white;
}
.user-data table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.investment-content th:first-child {
  border-radius: 8px 0px 0px 0px;
}

.investment-content thead th:last-child {
  border-radius: 0px 8px 0px 0px;
}
.notification-icon {
  color: #ebcfb9;
}
.wallet-notempty .nav-link {
  border-radius: 5px;
  background-color: var(--light-color);
}
.dashboard .nav-link.active {
  background-color: var(--main-color) !important;
  color: white !important;
}
.transaction-value,
.transaction-icon {
  color: #a22b25;
}

/* Modal */
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.modal-close-icon {
  border-radius: 50px;
  border-color: var(--main-color) !important;
}
.modal-hint {
  background-color: #ebcfb9;
}

/* date-progress */

.date-progress #progressBar {
  background-color: #ebcfb9;
}
#voteModal input[type="radio"] {
  transform: scale(1.5);
}
/* Chart */
#resVoteModal .progress {
  height: 35px;
}
.bg-abstain .progress-bar {
  background-color: #fbbf24;
}
.bg-yes .progress-bar {
  background-color: #10b981;
}
.bg-no .progress-bar {
  background-color: #ef4444;
}
#resVoteModal .progress-bar {
  text-align: start !important;
  
}
/* Table */
table th,
table td {
  border: 1px solid rgba(31, 66, 128, 0.16);
  padding: 0.5em;
}
table thead th {
  border-top: none;
}

form label {
  color: #1e293b;
}
form input:not([type="checkbox"]),
form select {
  padding: 16px !important;
  border-radius: 8px !important;
}
input:focus,
select:focus {
  border: 1px solid #cbd5e1 !important;
  box-shadow: none !important;
}

.invest-amount input[checkbox] {
  padding: 5px !important;
}
/* Footer */
footer {
  background-color: #263238;
  color: var(--light-color);
}
footer a,
footer a:hover {
  color: var(--light-color);
}
/* progressbar investment*/

.progress-container {
  width: 30%;
  text-align: center;
}

.progress {
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.step-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.step {
  position: relative;
  font-size: 0.9em;
}

.step-labels span::after {
  content: "";
  position: absolute;
  top: calc(-37px / 2 - 10px);
  width: 25px;
  height: 25px;
  background-color: #e0e0e0;
  border-radius: 50%;
  border: 6px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.step-labels span:first-child::after {
  left: 0;
}

.step-labels span:nth-child(2)::after {
  left: 50%;
  transform: translateX(-50%);
}

.step-labels span:last-child::after {
  right: 0;
}

/* Styling for the active step */
.active-step::after {
  border-color: var(--main-color, #1f4280) !important;
}
.previous-step::after {
  background-color: var(--main-color, #1f4280) !important;
}

/* Styling for the step immediately before the active step */

footer .social svg {
  background-color: #3c464c;
  color: white !important;
  padding: 10px;
  border-radius: 50px;
}
footer ul li {
  margin-bottom: 12px;
}
footer .sub-form input,
footer .sub-form input:focus {
  background-color: #515b60;
}

footer .sub-form input::placeholder {
  color: #d9dbe1;
}

/* Mobile breakpoint */
@media (max-width: 767px) {
  .prop-row {
    margin-bottom: 3rem;
  }
  .prop-row .property-card {
    margin-bottom: 8rem;
  }
  /* user */
  #dropdownMenuButton,
  .dropdown-menu {
    width: auto !important;
  }
}

/* Tablet breakpoint */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large screen breakpoint */
@media (min-width: 992px) {
}
